

/*////////////////////inspiration///////////////////////////////*/

#inspiration-info {
    height: 280px;
    
}
.in1{
    text-align: center;
    font-family: cursive;
}
.in2{
    text-align: justify;
}
.lyric{
    justify-content: center;
    text-align: center;

 }.DP{
    padding-top: 20PX;
    align-items: center;
     }
     .m-4{
        color: rgb(170, 43, 43);
       
     }
    